In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('bill.csv')

In [3]:
data.head()

,Month,No_of_Bulbs,No_of_Fans,No_of_Washing_Machines,No_of_Water_Pumps,No_of_Freezers,No_of_TV,No_of_AC,No_of_Iron,Electricity_Bill,Total_Units_Consumed,Price_per_Unit,Total_Bill
0,January,10,3,2,1,1,1,0,1,150.0,200,19.5,3900
1,February,12,4,2,1,1,1,1,0,160.0,220,20.5,4510
2,March,8,2,1,1,1,1,0,0,130.0,180,19.5,3510
3,April,11,3,3,2,1,1,1,1,175.0,240,20.5,4275
4,May,9,3,2,1,1,1,0,1,145.0,200,19.5,2905

In [4]:
data.shape

(48, 13)

In [5]:
data.columns.values.tolist()

['Month',
 'No_of_Bulbs',
 'No_of_Fans',
 'No_of_Washing_Machines',
 'No_of_Water_Pumps',
 'No_of_Freezers',
 'No_of_TV',
 'No_of_AC',
 'No_of_Iron',
 'Electricity_Bill',
 'Total_Units_Consumed',
 'Price_per_Unit',
 'Total_Bill']

In [6]:
print(f'smmary :{data.describe()}')

smmary :       No_of_Bulbs  No_of_Fans  No_of_Washing_Machines  No_of_Water_Pumps  \
count    48.000000   48.000000               48.000000          48.000000
mean     11.250000    3.208333                1.916667           1.291667
std       2.410085    0.824062                0.646869           0.459340
min       8.000000    2.000000                1.000000           1.000000
25%       9.750000    3.000000                1.750000           1.000000
50%      11.000000    3.000000                2.000000           1.000000
75%      12.250000    4.000000                2.000000           2.000000
max      17.000000    5.000000                3.000000           2.000000

       No_of_Freezers   No_of_TV   No_of_AC  No_of_Iron  Electricity_Bill  \
count       48.000000  48.000000  48.000000   48.000000         48.000000
mean         0.875000   0.916667   0.541667    0.666667        195.937500
std          0.334219   0.279310   0.503534    0.476393         56.442083
min          0.000000   0.000000   0.000000    0.000000        130.000000
25%          1.000000   1.000000   0.000000    0.000000        152.250000
50%          1.000000   1.000000   1.000000    1.000000        172.500000
75%          1.000000   1.000000   1.000000    1.000000        240.750000
max          1.000000   1.000000   1.000000    1.000000        307.500000

       Total_Units_Consumed  Price_per_Unit   Total_Bill
count             48.000000       48.000000    48.000000
mean             166.041667       19.729167  3010.833333
std               50.419077        0.460785   883.923395
min               78.000000       19.500000  1530.000000
25%              130.500000       19.500000  2542.500000
50%              169.000000       19.500000  2915.000000
75%              202.500000       19.500000  3510.000000
max              250.000000       21.000000  5250.000000

In [7]:
X = data[['No_of_Bulbs', 'No_of_Fans', 'No_of_Washing_Machines', 'No_of_Water_Pumps',
        'No_of_Freezers', 'No_of_TV', 'No_of_AC', 'No_of_Iron', 'Electricity_Bill',
        'Total_Units_Consumed', 'Price_per_Unit']]

y = data['Total_Bill']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
model = LinearRegression()


model.fit(X_train_scaled, y_train)

LinearRegression()

In [11]:
print(f'training score:{model.score(X_train_scaled, y_train)}')
print(f'testing score:{model.score(X_test_scaled, y_test)}')

training score:0.8758910210540625
testing score:0.8219182546176417

In [12]:
predictions = model.predict(X_test_scaled)

# Create a DataFrame with actual and predicted values
results = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})

results['Difference'] = results['Actual'] - results['Predicted']

print(results)

    Actual    Predicted  Difference
27    4275  4540.154899 -265.154899
40    1560  1531.512741   28.487259
26    3510  3079.474385  430.525615
43    2340  2698.228482 -358.228482
24    3900  3111.467087  788.532913
37    2610  2511.073961   98.926039
12    2925  2624.891299  300.108701
19    2340  2698.228482 -358.228482
4     2905  3149.445151 -244.445151
25    4510  4146.593820  363.406180

In [13]:
user_input = {}
for feature in X.columns:
    user_input[feature] = float(input(f'Enter value for {feature}: '))

user_df = pd.DataFrame([user_input])

# Standardize user input
user_scaled = scaler.transform(user_df)


predicted_bill = model.predict(user_scaled)


print(f'Predicted Bill: {predicted_bill[0]}')

Enter value for No_of_Bulbs: 8
Enter value for No_of_Fans: 3
Enter value for No_of_Washing_Machines: 2
Enter value for No_of_Water_Pumps: 2
Enter value for No_of_Freezers: 2
Enter value for No_of_TV: 4
Enter value for No_of_AC: 4
Enter value for No_of_Iron: 2
Enter value for Electricity_Bill: 50000
Enter value for Total_Units_Consumed: 300
Enter value for Price_per_Unit: 30
Predicted Bill: 282220.9483530442